.favorites-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    z-index: 2;
}

.favorites-cards-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.favorites-list-item {
    padding: 10px;
    margin: 10px;
    min-height: 50vh;
}

.favorites-list-header {
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}

.favorites-list-name {
    color: #282c34;
}

.favorites-list-button {
    width: auto;
    align-self: flex-end;
}

.favorites-cards-info {
    padding: 40px 20px;
    font-size: 2em;
    font-weight: bold;
    color: #FFC107;
    background-color: #212529;
    width: 80vw;
    margin: 100px auto;
    border-radius: 4px;
    text-align: center;
}