.content-wrapper {
    position: relative;
    background-image: url("/public/pokemon-main.png");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
}