.pokemon-list {
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.pokemon-list-info{
  font-size: 2em;
    font-weight: bold;
    color: #FFC107;
    background-color: #212529;
    width: 80vw;
    left: calc(50vw - 40vw);
    border-radius: 2px;
}

.pokemon-list-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-list-item {
    padding: 5px;
    margin: 15px;
    min-height: 50vh;
}

.pokemon-list-button {
    margin-top: 20px;
    width: 25vw;
    text-align: center;
}
