.bgc-wrapper {
    position: relative;
    background-image: url("/public/pokemon-main.png");
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 85%;

}